
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cairo:wght@600&family=Oswald:wght@500&family=Roboto&display=swap');/*--------------------------------------------------------------
# General
1.#289fda
2.#b0b1b3
3.#272526
--------------------------------------------------------------*/
body {
  font-family: "cairo", sans-serif;
  direction: rtl;
  text-align: right;
  
 }

a {
  color: #fff;
}

a:hover {
  color: #289fda;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "cairo", sans-serif;

}
p{
  text-align: right;

}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  background: #289fda;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #289fda;
  background: #272526;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #272526;
  padding: 10px 0;
  border-bottom: 1px solid #289fda;
  display: inline-block;

}

#topbar .contact-info a {
  line-height: 1;
  color: rgb(255, 255, 255);
  transition: 0.3s;
  font-size: 17px;
  padding: 10px;

}

#topbar .contact-info a:hover {
  color: #289fda;

}

#topbar .contact-info i {
  color: #289fda;
  font-size: 22px;
  margin-left: 30px;
  padding-right: 10px;
  border-right: 1px solid #289fda ;

}


#topbar .contact-info  span {
  padding-left: 5px;
  color: #fff;
  padding: 5px
  
}
#topbar .social-links a {
  color: #fff;
  padding: 10px 12px;
  display: inline-block;
  line-height: 5px;
  transition: 0.3s;
  font-size: 18px;
}

#topbar .social-links a:hover {
  color: #289fda;
font-size: 20px
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px 0;
  background: #272526;
  z-index: 997;
}

#header.header-scrolled {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #289fda;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  padding: 12px 15px;
  transition: 0.3s;
  font-size: 17px;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #289fda;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #272526;
  box-shadow: 0px 0px 30px #289fdaa6;
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #289fda;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #fff;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: #272526;
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #289fda;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #fff;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa0";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #289fda;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: #b0b1b370;
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: calc(100vh - 114px);
  padding: 0;
  overflow: hidden;
}

#hero .carousel-item {
  width: 100%;
  height: calc(100vh - 114px);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  overflow: hidden;
}

#hero .carousel-item::before
{
  content: '';
  background-color: #27272794;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

#hero .carousel-content {
  text-align: left;
}

@media (max-width: 992px) {
  #hero, #hero .carousel-item {
    height: calc(100vh - 70px);
  }
  #hero .carousel-content.container {
    padding: 0 50px;
  }
}
#hero .intro_shadow_word {
  color: #ffffff59;
	font-size: 100px;
	left: 20%;
	line-height: 1;
	margin: 0;
	opacity: 0.05;
	position: absolute;
	top: 20%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 100%;
	word-break: initial;
  z-index: -1;
  margin-left: 300px
}

@media (min-width: 768px) {
  #hero .intro_shadow_word {
		font-size: 180px;
	}
}

@media (min-width: 992px) {
  #hero .intro_shadow_word {
		font-size: 230px;
	}
}

@media (min-width: 1400px) {
  #hero .intro_shadow_word {
		font-size: 400px;
		left: -50px;
	}
}
#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 900;
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  color: #fff;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .carousel-indicators li {
  cursor: pointer;
}

#hero .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #000000;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 0;
  background: #289fda;
}

#hero .btn-get-started:hover {
  background: #fff;
  color: #272526;
}
#hero  .icon{
  font-size: 36px;
  display:block;
  padding: 4px 0;
  transition: 0.5s ease-in-out;
  margin: 10px;
  text-align: center;
  color: #fff;
  background: none;
}
#hero  .icon:hover{
  font-size: 41px;
  text-align: center;
  color: #289fda;
  background: none;
}
#hero  .icon:focus{
  font-size: 0px;
  text-align: center;
  color: #f8f8f8;
  background: none;
}
@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {
  margin-top: -200px;
  padding: 30px;
  background: #272526;
  border-radius: 4px;
  color: #fff;
  z-index: 9;
}

.why-us .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.why-us .content p {
  margin-bottom: 30px;
}

.why-us .content .more-btn {
  display: inline-block;
  background: #289fda;
  padding: 6px 30px 8px 30px;
  color: #272526;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}

.why-us .content .more-btn i {
  font-size: 14px;
}

.why-us .content .more-btn:hover {
  color: #289fda;
  background: #fff;
}

.why-us .icon-boxes .icon-box {
  
  text-align: center;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 2px 15px #0000001a;
  padding: 40px 30px;
  width: 100%;
  transition: 0.5s
}

.why-us .icon-boxes .icon-box:hover{
padding: 60px 30px;

}
.why-us .icon-boxes .icon-box i {
  font-size: 40px;
  color: #272526;
  margin-bottom: 30px;
}

.why-us .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.why-us .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #6d6d6d0c;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #272526;
}

.section-title p {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
  padding-bottom: 0px;
}

.about .container {
  box-shadow: 0 5px 25px 0 #d6d7d899;
}

.about .video-box img {
  padding: 15px 0;
}

.about .section-title p {
  text-align: left;
  font-style: italic;
  color: #666;
}

.about .about-content {
  padding: 40px;
}

.about .icon-box + .icon-box {
  margin-top: 40px;
}

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  background: #289fda;
  border-radius: 6px;
  transition: 0.5s;
}

.about .icon-box .icon i {
  color: #fff;
  font-size: 32px;
}

.about .icon-box:hover .icon {
  background: #272526;
}

.about .icon-box:hover .icon i {
  color: #289fda;
}

.about .icon-box .title {
  margin-left: 95px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.about .icon-box .title a {
  color: #272526;
  transition: 0.3s;
}

.about .icon-box .title a:hover {
  color: #289fda;
}

.about .icon-box .description {
  margin-left: 95px;
  line-height: 24px;
  font-size: 14px;
}



/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  background:url(../img/portfolio/portfolio-9-.jpg); 
  background-attachment: fixed;
  background-size: cover;
  content: '';
}
.get
{
  background: #000000a2;
  width: 100%;
  height: 100%;
  padding: 15px;
 }
.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.services .icon {
  display: flex;
    justify-content: center;
    line-height: 1;
    font-weight: 600;
}

.services .icon i {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #272526;
  border-radius: 50%;
  transition: 0.5s;
  color: #289fda;
  font-size: 40px;
  overflow: hidden;
  padding-top: 20px;
}

.services .icon-box:hover .icon i {
  box-shadow: 0px 0 30px #289fda;
}
.services .section-title h2 {
color: white;

}
.services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

.services .title a {
  transition: 0.3s;
  color: white;
}

.services .title a:hover {
  color: #289fda;
}

.services .title::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #289fda;
  bottom: 0;
  left: calc(50% - 25px);
}

.services .description {
  line-height: 24px;
  font-size: 14px;
  color: #fff;
}

/*--------------------------------------------------------------
# Our Galary
--------------------------------------------------------------*/
.Galary .Galary-item {
  margin-bottom: 30px;
}



.Galary .Galary-wrap {
  box-shadow: 0px 2px 12px #00000014;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.Galary .Galary-wrap img {

width: 450px;
height: 250px;
transition: 0.3s;
}

.Galary .Galary-wrap .Galary-info {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
  text-align: center;
  background: #272526bb;
  padding-bottom: 30px;
}

.Galary .Galary-wrap .Galary-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.Galary .Galary-wrap .Galary-info p {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.Galary .Galary-wrap .Galary-info a {
  color: #272526;
  margin: 0 4px;
  font-size: 18px;
  line-height: 1;
  background-color: #289fda;
  padding-top: 7px;
  border-radius: 50px;
  text-align: center;
  width: 36px;
  height: 35px;
  display: inline-block;
  transition: 0.3s;
}

.Galary .Galary-wrap .Galary-info a:hover {
  background: #272526;
  color: #fff;
}

.Galary .Galary-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

.Galary .Galary-wrap:hover .Galary-info {
  opacity: 1;
  padding-bottom: 0;
}

.Galary .Galary-wrap:hover img {
  transform: scale(1.1);
}
/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 30px;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}

.portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #289fda !important;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #272526;
  box-shadow: 0px 2px 15px #289fda8c;
  z-index: 2;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: white;
  border-bottom: 1px solid #289fda;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
  color: white;

}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
  color: white;
  
}
.portfolio-details .portfolio-info ul li  a {
color: #289fda
}
.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0 0 0 0;
}

@media (max-width: 768px) {
  .portfolio-details .portfolio-description h2 {
    width: 100%;
  }
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}
/* question */

#question{
  padding: 50px;
  background: #f8f8f8;
}
#question img{
border-radius:10px;
 }
#question p{
  letter-spacing: 5px;
  font-size: 17px;
}
#question form button{
  background: #289fda;
  padding: 10px 25px;
  border: none;
  color: #fff;
transition: 0.5s;
border-radius: 12px;
}
#question form button:hover{
  background: #272526;
  color: #289fda;
  
}
 #question .form-group input {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #7c7c7c;
  border-radius: .25rem;
} 
  #question .form-group textarea {
    background: #ffffff
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials{
  background:url(../img/portfolio/portfolio-1-.jpg); 
  background-attachment: fixed;
  background-size: cover;
  content: '';
}
.testimonials .testimonial-wrap {
  padding-left: 50px;
}
.testimonials p{
  color: #fff;
}
.testimonials h2{
  color: #fff;
}
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0px 2px 12px #289fda94;
  position: relative;
  background: #2725267c;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #2725267c;
  box-shadow: 0px 2px 12px #289fdab2;

  position: absolute;
  left: -45px;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: rgb(255, 255, 255);
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #ffffff;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.testimonials .owl-dot.active {
  background-color: #289fda !important;
}

@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }
  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }
  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}

/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
#team {
  background: #fff;
  padding: 60px 0;
  box-shadow: 0px 0px 12px 0px #00000067;
}
#team .info{
  padding-bottom:15px; 
}
#team .info .Definition{
padding: 20px 0;
font-weight: 700;
border-bottom:2px solid #289fda; 
width: 250px;

}
#team .info p{
  padding-top: 20px;
  font-size: 19px;
  width:300px ;
}
#team button{
  padding:10px 20px;
  font-size: 19px;
  background: #289fda;
  border: none; 
  border-radius: 5px;
}
#team button:hover{
  font-size: 20px;
  background: #272526;
  color: #fff;
  border: none; 
  border-radius: 6px;
  transition: 0.5s;
}
#team .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  border-radius: 5%;
  overflow: hidden;
  /* padding-top: 10px; */
}

#team .member .member-info {
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

#team .member .member-info-content {
  margin-top: 50px;
  transition: margin 0.2s;
}

#team .member:hover .member-info {
  background: #272526b4;
  opacity: 1;
  transition: 1s;
}

#team .member:hover .member-info-content {
  margin-top: 0;
  transition: margin 0.4s;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 18px;
  color: #fff;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  transition: none;
  color: #fff;
}

#team .member .social a:hover {
  color: #289fda;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* Contact Section
--------------------------------*/

#contact {
  background: url("../../assets/img/Portfolio./portfolio-1-.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

#contact .section-header {
  padding-bottom: 30px;
}
#contact h2 {
color: #fff;
}
#contact .social-links {
  padding-bottom: 20px;
}

#contact .info {
  color: #272526;
}

#contact .info i {
  font-size: 30px;
  color: #289fda;
  float: left;
  line-height: 1;
}

#contact .info p {
  line-height: 30px;
  font-size: 13px;
  color: #fff;
  font-weight: 700;
  padding: 0 0 0 10px;

}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: #272526bb;
  background-clip: padding-box;
  border: 1px solid #7c7c7c;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
#contact .form #sendmessage {
  color: #272526;
  border: 1px solid #272526;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input,
#contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .form button[type="submit"] {
  background: #289fda;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}

#contact .form button[type="submit"]:hover {
  background: #272526;
  cursor: pointer;
}

/* footer */
#footer {
  background: #272526;

}

#footer .footer-top {
  
  border-bottom: 1px solid #289fda;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  color: #fff;

}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Cairo', sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #289fda;
  color: #272526;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #fff;
  color: #289fda;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top p{
  color: #fff;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #289fda;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #289fda;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
  outline: none;

}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #289fda;
  color: #fff;
  transition: 0.3s;
  border-radius: 4;
  outline: none;

}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #289fda;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #fff;

}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #289fda;
}
